* {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  width: 200px;
}

a {
  color: white;
}

/*------------------------------ the header section ------------------------------------------*/

/*--- the header-container ---*/
.header-container {
  background-color: #1f2937;
  color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
}
/*--- the nav-bar ---*/
.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 10px 0px;
  margin-bottom: 100px;
}
/*--- the hero section ---*/
.hero-container {
  display: flex;
  justify-content: space-around;
}

.hero-text {
  display: flex;
  flex-direction: column;
  width: 415px;
  justify-content: start;
}

.hero-container > section > h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

.hero-container > section > p {
  font-size: 18px;
}

.hero-container > section > button {
  width: 100px;
  background-color: #3882f6;
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  color: white;
  margin-top: 10px;
  font-weight: bold;
}

/*------------------------------ the main section ------------------------------------------*/

/*--- the information-container ---*/
.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

.information-container > div > div > img {
  width: 100px;
  /* margin: 0px 15px 0px 15px; */
}
.information-container > h2 {
  font-weight: bold;
  color: #1f2937;
  font-size: 36px;
  margin: 25px;
}
main {
  text-align: center;
}

.image-card {
  margin: 0px 15px 0px 15px;
}



/*--- the quote-container ---*/
.quote-container{
  height: 200px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

blockquote{
  text-align: left;
  font-size: 36px;
  font-weight:lighter;
  color: #1f3725;
}

.quote-citation{
  text-align: right;
  /* font-size: 36px; */
}